---
import Layout from '../components/Layout.astro';
import { Image } from 'astro:assets';

export interface Props {
  content: {
    title: string;
    description: string;
    publishDate?: string;
    updatedDate?: string;
    heroImage?: string;
    ogImageURL?: string;
    twitterCard?: 'summary' | 'summary_large_image';
  };
}

const {
  content: {
    title,
    description,
    publishDate,
    updatedDate,
    ogImageURL,
    twitterCard,
  },
} = Astro.props as Props;
type Asset = {
  default?: {
    src: string;
  };
};

const posts = Object.values(
  import.meta.glob<Asset>('./posts/*.md', { eager: true }),
);
const ogImageURLAsset = posts.find((asset) => {
  if (!ogImageURL) {
    return false;
  }
  if (!asset.default?.src) {
    return false;
  }
  const index = asset.default.src.indexOf('/assets/');
  return asset.default.src.slice(index) === ogImageURL;
});
---

<Layout
  title={title}
  description={description}
  ogType="article"
  image={ogImageURL}
  twitterCard={twitterCard}
>
  <div class="reading-progress" aria-hidden="true"></div>
  <article>
    {ogImageURLAsset?.default && (
      <div class="flex justify-center items-center">
        <Image 
          class="mb-4" 
          src={ogImageURLAsset.default.src} 
          width={800}
          height={400}
          alt={title} 
        />
      </div>
    )}
    <h1 class="text-2xl font-bold">{title}</h1>
    {publishDate && <time>{publishDate}</time>}
    {
      updatedDate && (
        <div>
         更新日 <time>{updatedDate}</time>
        </div>
      )
    }
    <hr class="my-4" />
    <div class="container post">
      <slot />
    </div>
  </article>
</Layout>

<style is:global>
  .reading-progress {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: 4px;
    background: red;
    z-index: 9999;
  }
</style>
