---
import Layout from "../components/Layout.astro";
import { Image } from 'astro:assets';

export interface Props {
  content: {
    title: string;
    description: string;
    publishDate?: string;
    updatedDate?: string;
    heroImage?: string;
    ogImageURL?: string;
    twitterCard?: "summary" | "summary_large_image";
  };
}

const {
  content: { title, description, publishDate, updatedDate, ogImageURL, twitterCard },
} = Astro.props as Props;

// Match the `heroImage` frontmatter string to its correct
// Astro.glob() import of the file in the src/ directory.
const assets = await Astro.glob('../assets/**/*');
const ogImageURLAsset = assets.find(asset => {
  if (!ogImageURL) {
    return false;
  }
  if (!asset.default?.src) {
    return false;
  }
  const index = asset.default.src.indexOf('/assets/');
  return asset.default.src.slice(index) === ogImageURL;
});
---

<Layout
  title={title}
  description={description}
  ogType="article"
  ogImageURL={ogImageURL!}
  twitterCard={twitterCard!}
>
  <article>
    {ogImageURLAsset && <div class="flex justify-center items-center"><Image class="mb-4" src={ogImageURLAsset.default} alt="" /></div>}
    <h1 class="text-2xl font-bold"><budoux-ja>{title}</budoux-ja></h1>
    {publishDate && <time>{publishDate}</time>}
    {
      updatedDate && (
        <div>
         更新日 <time>{updatedDate}</time>
        </div>
      )
    }
    <hr class="my-4" />
    <div class="container post">
      <slot />
    </div>
  </article>
</Layout>
